<%= render 'layouts/header' %>

<div class="ui centered card">
  <div class="image">
    <%= image_tag("favicon.png") %>
  </div>
  <div class="content">
    <a class="header"><%= @user.username %></a>
    <div class="meta">
      <span class="date">Member since <%= @user.created_at.to_date.strftime("%d/%m/%Y") %></span>
    </div>
    <div class="description">
      <% unless @user.last_action.nil? %>
        Last seen: <%= time_ago_in_words(@user.last_action) %> ago
      <% end %>  
    </div>
  </div>
  <div class="ui two column centered grid">
    <div class="column">
      <% if logged_in? %>
        <% if @user == current_user %>
          <%= link_to "Edit profile", edit_user_path(current_user), class: "compact ui inverted blue button" %>
        <% end %> 
      <% end %> 
    </div>       
  </div>      
  <div class="extra content">
    <%= link_to "#{User.all.count} Friends", users_path, class: "user icon" %>
  </div>
</div>